<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLSV_final.My.MySettings.ConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=DESKTOP-BGCQDCK\HAIVAN;Persist Security Info=True;Password=haivandg2001;User ID=sa;Initial Catalog=QLSV_Test"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>